* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 400px;
    width: 100vw;
    border: 1px solid gray;
    position: relative;
    overflow: hidden;
}

#cblue {
    background-color: midnightblue;
    height: 500px;
}

.header {
    width: 1020px;
    margin: auto;
}

#col-1 {
    width: 12%;
    display: inline-block;
    float: left;
}

#col-2 {
    width: 48%;
    display: inline-block;
    float: left;
}

.nav-1 {
    font-size: smaller;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px;
    float: left;
    color: white;
}

ul {
    list-style-type: none;
}


#col-3 {
    width: 40%;
}

.nav-2 {
    font-size: smaller;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px;
    float: left;
    color: white;
}

.hero {
    width: 1020px;
    position: absolute;
    top: 15%;
    left: 38%;
}

.wrapper {
    height: 100px;
    width: 100vw;
    background-color: lightgray;
    border: 1px solid gray;
}

h5 {
    margin-top: 2%;
    text-align: center;
}

p {
    text-align: center;
}
