* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    height: 400px;
    width: 100vw;
    border: 1px solid gray;
    position: relative;
    overflow: hidden;
}

#cblue {
    background-color: midnightblue;
    height: 500px;
}

.header {
    width: 1080px;
    margin: auto;
}

#col-1 {
    width: 12%;
    display: inline-block;
    float: left;
}

#col-2 {
    margin-left: 20px;
    margin-right: -20px;
    width: 48%;
    display: inline-block;
    float: left;
}

.nav-1 {
    font-size: smaller;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px;
    float: left;
    color: white;
}

ul {
    list-style-type: none;
}


#col-3 {
    width: 40%;
}

.nav-2 {
    margin-top: 0.1%;
    font-size: smaller;
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px;
    float: left;
    color: white;
}
#button-1 {
    border: 1px solid white;
    border-radius: 5px;
}

#button-2 {
    background-color: yellowgreen;
    border-radius: 5px;
    margin-left: 5px;
}

#button-3 {
    /*top: 30%;
    left: 15%;
    position: absolute;*/
    padding: 7px;
    color: white;
    text-decoration: none;
    background-color: yellowgreen;
    border-radius: 5px;
    margin-left: 5px;
    height: 40px;
    width: 50px;
    border-radius: 5px;
}

.text {
    color: white;
    position: absolute;
    top: 25%;
    left: 15%;
}

.img-hero {
    width: 1020px;
    position: absolute;
    top: 14%;
    left: 38%;
}

.col-30 {
    width: 30%;
}

.margin-l {
    margin-left: 5%;
}

.wrapper {
    width: 1080px;
    margin: auto;
    border-top: solid 1px;
}

.col-50 {
    width: 50%;
    margin-top: 5%;
}

.text-4 {
    margin-top: 2%;
    text-align: left;
    color: gray;
}

.wrapper-lg {
    background-color: lightgray;
    border: 1px solid gray;
}

#eccezione {
    width: 200px;
}

.text-center {
    margin-top: 2%;
    text-align: center;
}

p {
    text-align: center;
}

.topbot {
    margin: 10% 0;
}

.row-1 {
    width: 1080px;
    margin: auto;
}

.widhtfix {
    width: 150px;
}

.row-1 > *img {
    width: 32%;
}

.float-l {
    float: left;
}

.greentitle {
    color: rgb(148, 219, 77);
}

.clearfix:after {
    display: table;
    content: '';
    clear: both;
}

.mountain {
    width: 300px;
}