* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    height: 500px;
    width: 100vw;
    border: 1px solid gray;
    position: relative;
    overflow: hidden;
}

#cblue {
    background-color: midnightblue;
}

.col-1 {
    width: 15%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 40%;
}

.hero {
    width: 1020px;
    position: absolute;
    top: 15%;
    left: 38%;
}

.wrapper {
    height: 100px;
    width: 100vw;
    background-color: lightgray;
    border: 1px solid gray;
}

h5 {
    margin-top: 2%;
    text-align: center;
}

p {
    text-align: center;
}
